@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,600;0,700;1,100;1,600;1,700&display=swap");

* {
    outline: none;
}

body {
    margin: 0;
}

.root {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: url(../images/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.start-layer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: 3;
    transition: 0.5s;
    background-image: url("../img/фф.gif");
    font-family: "IBM Plex Mono", monospace;
    background-size: cover;
    background-repeat: repeat-y;
}

.game-over {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 0;
    width: 100vw;
    background-color: #001e4f;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: 3;
    transition: 0.5s;
    color: #fff;
}

.player {
    width: 200px;
    height: 200px;
    position: absolute;
    background: url("../images/ricknmorty.webp") no-repeat;
    background-size: cover;
    transition: 90ms;
}

.enemy {
    width: 100px;
    height: 100px;
    position: absolute;
    background: url("../images/player.png") no-repeat;
    background-size: cover;
    rotate: 270deg;
    transition: 90ms;
}

.bullet {
    position: absolute;
    background: #00eeff;
    background-size: cover;
    width: 15px;
    height: 5px;
    transition: 150ms;
    border-radius: 10px;
    -webkit-box-shadow: -10px 0px 15px 5px rgba(0, 255, 255, 1);
    -moz-box-shadow: -10px 0px 15px 5px rgba(0, 255, 255, 1);
    box-shadow: -10px 0px 15px 5px rgba(0, 255, 255, 1);
}

#start-btn,
#replay-btn {
    border: none;
    cursor: pointer;
    width: 200px;
    height: 53px;
    background-color: rgb(255, 242, 0);
    border-radius: 16px;
    font-size: 23px;
    font-weight: bold;
    color: rgb(184, 15, 227);
}

/* стили из файла маши */

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.logo__img {
    position: absolute;
    bottom: 2px;
    left: 2px;
    height: 100px;
}

.logo__text {
    position: absolute;
    bottom: -17px;
    left: 106px;
    font-size: 26px;
    line-height: 28px;
    font-weight: bold;
    color: rgb(69, 32, 171);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 18px 200px -60px black;
    border-radius: 50px;
    width: 800px;
    position: relative;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 2px solid #ffffff40;
    padding: 20px 30px 30px 50px;
    text-align: center;
    color: rgb(247 232 254);
    font-size: 19px;
    line-height: 24px;
}

.card__text {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card__img {
    height: 350px;
}

.sticker {
    height: 100px;
}

.inputUser{
    height: 35px;
    width: 150px;
    border-radius: 16px;
    text-align: center;
    background-color: #001e4f;
    border-color: black;
    color: yellow;
}