* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.root {
  height: 100vh;
  background: url(./images//background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.player {
  top: 0;
  position: absolute;
  transform: rotate(90deg);
  height: 150px;
}

.fire {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
  visibility: hidden;
}
